<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#"><img alt="FTC logo" src="../assets/FTC-Logo.svg"/></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../ticketing.html">Ticketing</a></li>
            <li><a href="../issue-routing.html">Issue Routing</a></li>
            <li><a href="../weekly-log.html">Weekly Brief</a></li>
            <li><a href="gurus/ratingsView.php">Guru's Ratings</a></li>
        </ul>
    </div>
</nav>
