body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#weather {
    position: fixed;
    bottom: 0;
    height: 15%;
    width: 100%;
    background-color: #2A2C30;
    font-size: 7em;
    color: white;
    padding: 0.1%;
}

#weather img {
    height: 7em;
    float: left;
}

#weather div {
    display: inline-block;
    width: 25%;
    padding: 1%;
}