    body {
    display: flex;
    flex-direction: column;
}

#weather {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2A2C30;
    font-size: 1.5em;
    color: white;
    padding: 0.1%;
}

#weather img {
    height: 5em;
    float: left;
}

#weather div {
    display: inline-block;
    width: 20%;
    padding: 1%;