html {}

body {
    display: flex;
    flex-direction: column;
}

#weather {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2A2C30;
    font-size: 16pt;
    color: white;
    padding: 15px 0px 10px 25px
}

#weather img {
    height: 100px;
    float: left;
    margin-right: -30px;
    overflow: hidden;
}

#weather div {
    display: inline-block;
    width: 20%;
    padding: 10px;
    /*
    border: solid 2px white;
    border-radius: 5px;
*/
}