@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

body::-webkit-scrollbar {
    display: none;
}


h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
}

p, a {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1%;
}

.banner {
  background-image: url('live-pics/pic1.jpg');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  display: flex;
  min-width: 536px;
}

.info {
  width: 35%;
  background-color: rgba( 0, 0, 0, .5);
  color: #fff;
  padding: 20px;

}

.info h1 {
  color: #fff;

}


.navbar {
border-radius: 0;
}

.navbar img {
    width: 300px;
}


.card-header {
  background-color: #0076B6;
  height: 40px;
  color: #fff;

}

.card-header h5 {
  line-height: 40px;
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
}

#dropdowns {
  min-width: 536px;
}


    .empty-space {
        width: 10px;
    }


    .clkd {
        background-color: #08C6F3;
    }

    a.btn {
        color: black;
    }


    .flex-parent {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-flow: row wrap;
    }

    .flex-child {
      font-size: 1.5em;
      margin: 2% 5%;
      width: 15%;
      justify-content: center;
      align-content: center;
      text-align: center;
    }

    .flex-child span.glyphicon {
      font-size: 2em;
    }

    .flex-child a {
      margin:auto;
      align-content: center;
    }

    .collapseBtn {
      margin-top: 1%;
      background-color: #039BE5;
      font-size: 2em;
      border-radius: 0;
      border: none;
    }

    .collapseBtn:hover {
      background-color: #0288D1;
    }
