    table {
        width: 100%;
    }
    
    #left-table td {
        width: 50%;
        height: 126px;
        border-collapse: collapse;
    }
    
    #bottom-table td {
        width: 25%;
        height: 120px;
        border-collapse: collapse;
    }
    
    table p {
        font-size: 12pt;
        margin: 6px;
    }
    
    span.glyphicon {
        font-size: 30pt;
    }
    
    #announcement {
        width: 100%;
        max-width: 900px;
    }
    
    .navbar {
        margin-top: -20px;
    }
    
    .empty-space {
        width: 10px;
    }
    
    #special-border {
        padding-left: 20px;
        padding-right: 0px;
    }
    
    .clkd {
        background-color: #08C6F3;
    }
    
    a.btn {
        color: black;
    }
    
    .flex-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .flex-row button,
    .flex-row div button {
        flex-grow: 1;
        margin: 0px;
        /*        border: 2px solid #9ac845;*/
    }
    
    .flex-row div {
        display: flex;
        flex-grow: 1;
    }
    
    table#issue-routing td {
        width: 25%;
    }
    
    table#issue-routing td h4 {
        text-align: center;
    }
    
    table#issue-routing ul {
        list-style-type: none;
    }
    
    table#issue-routing li:before {
        content: "\e127";
        font-family: 'Glyphicons Halflings';
        font-size: 12px;
        float: left;
        margin-top: 2px;
        margin-left: -17px;
        color: black;
    }
    
    a#fullscreen_link {
        margin-top: 10px;
        margin-bottom: -5px;
    }
    
    #fullscreen_link,
    #fullscreen_link span {
        font-size: 8pt;
        margin-top: 0px;
        padding: 0px;
        float: right;
    }