#header {
  text-align: center;
}

.well {
  background-color: #d3d3d3;
}

.padding {
  margin: 3%;
}

.cert {
  text-align: center;
}


td, th {
  font-size: 1.4em;
}

table {
  width: 85%;
  margin: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}